* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: solid red 4px; */
  /* color: #3b3939 !important; */
  text-decoration: none !important;
}

/* Colors */
:root {
  --pink: #f3afc1;
  --dark-brown: #37240e;
}
/* Common Fonts */

@font-face {
  font-family: Whomp;
  src: url(./assets/css/Whomp.otf);
}

@font-face {
  font-family: LeHavreRegular;
  src: url(./assets/css/LeHarveRegular.otf);
}
.pink {
  color: var(--pink) !important;
}
.brown {
  color: var(--dark-brown) !important;
}

/* Header */
.center {
  display: flex;
  justify-content: center;
}

header h1 {
  font-size: 60px;
  margin-top: 40px;
  margin-bottom: 50px;
  font-family: Whomp;
}

nav {
  font-size: 35px;
  margin-bottom: 30px;
  font-family: LeHavreRegular;
}

nav a:hover {
  color: var(--pink) !important;
}

/* Body */
.body-text {
  font-size: 35px;
  margin: 80px 40px 60px 40px;
  font-family: LeHavreRegular;
  color: var(--dark-brown);
}

.resume-title {
  font-size: 35px;
  margin: 80px 40px 40px 100px;
  font-family: LeHavreRegular;
  color: var(--dark-brown);
}

.body-text2 {
  font-size: 25px;
  font-family: LeHavreRegular;
  color: var(--dark-brown);
}
.body-text3 {
  font-size: 35px;
  font-family: Whomp;
  color: var(--pink);
}

.no-border {
  border: none;
}

/* Contact */

form {
  margin-left: 50px;
}
.form-label {
  font-family: LeHavreRegular;
  font-size: 20px;
  color: var(--dark-brown);
}
.form-control {
  width: 30%;
  font-family: LeHavreRegular;
}
.message-control {
  height: 100px;
  width: 40%;
}
.my-btn {
  font-family: Whomp;
  font-size: 25px;
  color: var(--dark-brown);
  background-color: var(--pink);
}

.my-btn:hover {
  opacity: 0.75;
}

/* Footer */

footer {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
}

.icon {
  height: 40px;
  width: 40px;
}
